@{layout("layouts/admin")}
<div class="paper">
    <div class="section1">
        <div class="icon-page">
            <i class="material-symbols-outlined">source_environment</i>
            <h3>Semua Penerbit</h3>
        </div>
        <div class="icon-page">
            <i class="material-symbols-outlined">add_circle</i>
        </div>
    </div>
    <div class="section2">
        <div class="icon-page">
            <h4>Semua Penerbit</h4>
        </div>
        <div class="icon-page">
            <input class="input-cari" type="text" placeholder="cari..." id="">
        </div>
    </div>
    <div class="section3">
        <table>

        </table>
    </div>