<div class="paper">
    <div class="section1">
        <!-- Judu halaman -->
         <div class="icon-page">
            <i class="material-symbols-outlined">
                source_environment
            </i>
            <h3>Manage Penerbit</h3>
         </div>
         <div class="icon-page">
            <i class="material-symbols-outlined">
                add_circle
            </i>
         </div>
    </div>
    <div class="section2">
        <!-- Buat Sub Judul -->
        <div class="icon-page">
            <h4>Semua Penerbit</h4>
         </div>
         <div class="icon-page">
           <input type="text" class="input-cari" placeholder="cari..."/>
         </div>
    </div>
    <div class="section3">
        <!-- Buat Table disini -->
    </div>
</div>