<div class="brand-logo flex">
    <i class="material-symbols-outlined icon-white">
        menu_book
    </i>
    Snipkode Publishing
</div>

<ul class="navigation">
    <li>
        <a href="#" class="flex">
            <i class="material-symbols-outlined icon-white">
                bar_chart_4_bars
            </i>
            Dashboard
        </a>
    </li>
    <li>
        <a href="/buku" class="flex">
            <i class="material-symbols-outlined icon-white">
                library_books
            </i>
            Manage Buku
        </a>
    </li>
    <li>
        <a href="/penerbit" class="flex">
            <i class="material-symbols-outlined icon-white">
                library_books
            </i>
            Manage Penerbit
        </a>
    </li>
    <li>
        <a href="/pengguna" class="flex">
            <i class="material-symbols-outlined icon-white">
                library_books
            </i>
            Manage Pengguna
        </a>
    </li>
</ul>