@{layout("layouts/admin")}

<div class="header"></div>
<div class="sidebar">
    @{view("components/sidebar")}
</div>
<div class="main">
    <div class="grid-col-12">
        @{view("components/card", { class: 'background-linear', btnClass: 'btn-primary', title: 'Semua Buku', total: 12, path: '/buku' })}
        @{view("components/card", { class: 'background-linear-navy', btnClass: "btn-secondary", title: 'Semua Penerbit', total: 30, path: '/penerbit' })}
        @{view("components/card", { class: 'background-linear-purple', btnClass: "btn-purple", title: 'Semua Pengguna', total: 112, path: '/pengguna' })}
    </div>
</div>
