@{layout("layouts/admin")}

<div class="header"></div>
<div class="sidebar"></div>
<div class="main">
    <div class="grid-col-12">
        <div class="card">
            <div class="flex">
                <i class="material-symbols-outlined icon-white">
                    library_books
                </i>
                <h2>Semua Buku</h2>
            </div>
            <h3 class="title-card">12</h3>
        </div>
        <div class="card">
            <div class="flex">
                <i class="material-symbols-outlined icon-white">
                    library_books
                </i>
                <h2>Semua Penerbit</h2>
            </div>
            <h3 class="title-card">12</h3>
        </div>
        <div class="card">
            <div class="flex">
                <i class="material-symbols-outlined icon-white">
                    library_books
                </i>
                <h2>Semua Pengguna</h2>
            </div>
            <h3 class="title-card">12</h3>
        </div>
        <div class="card">
            <div class="flex">
                <i class="material-symbols-outlined icon-white">
                    library_books
                </i>
                <h2>Semua Buku</h2>
            </div>
            <h3 class="title-card">12</h3>
        </div>
    </div>
</div>
