@{layout("layouts/admin")}

<div class="paper">
    <div class="section1">
        <!-- TODO: Judul -->
         <div class="icon-page">
            <i class="material-symbols-outlined">
                source_environment
            </i>
            <h3>Manage Penerbit</h3>
         </div>
         <i class="material-symbols-outlined plus">
            add_circle
        </i> 
    </div>
    <div class="section2">
        <!-- TODO: Buat Sub Judul -->
        <div class="icon-page">
            <p>Semua Penerbit (0)</p>
         </div>
         <input class="search" type="text", placeholder="cari...">
    </div>
    <div class="section3">
        <!-- TODO: Buat Table -->
    </div>
</div>